@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
  background: radial-gradient(#f0e6e7, #f7f7f7);
}

input{
  @apply px-4 py-3 rounded-full border border-black bg-transparent 
}

input::placeholder{
  color: #464545
}

.inputdiv{
  @apply mt-5
}

label{
  @apply mb-2 text-gray-600 
}

label{
  font-weight: 700;
}

.login{
  @apply font-semibold text-gray-500 hover:underline
}

.logo h1{
  font-family:cursive;
  font-size: 20px;
}